/* COMMON */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;

    a{
        text-decoration: none;
        color: white;
    }

    #blur{
        position: relative;
        transition: 0.5s;
    }
    #blur.active{
        filter: blur(3px);
        pointer-events: none;
        user-select: none;
    }

    #popup{
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 5px 30px rgba(0,0,0, .30);
        background-color: rgb(255, 255, 255);
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;

        embed{
            width: 500px;
            height: 600px;
        }
        a{
            background-color: rgb(83, 83, 219);
            border-radius: 5px;
            color: white;
            text-align: center;
            display: block;
            padding: 5px 0;
            margin-top: 10px;
        }
    }
    #popup.active
    {
        top: 50%;
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
    }
}


/* HEADER */
header{
    background-color: rgb(83, 83, 219);

    .container{
        max-width: 1170px;
        margin: auto;

        nav{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            position: fixed;
            top: 0;
            width: 1170px;
            z-index: 2;
            background-color: white;
    
            ul{
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-around;
            
                a{
                    text-decoration: none;
                    width: 150px;
                    text-align: center;
                    padding: 7px;
            
                    &:hover{
                        li{
                            color: white;
                            background-color: rgb(83, 83, 219);
                            border-radius: 5px;
                        }
                    }
                    li{
                        padding: 5px;
                        color: black;
                    }
                }
                .active li {
                    color: white;
                    background-color: rgb(83, 83, 219);
                    border-radius: 5px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }
        #header_site{
            .jumbotron{
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: 100vh;
    
                .jumbo_left{
                    width: 50%;
                    h1{
                        font-size: 85px;
                        color: white;
                        font-weight: 600;
                    }
                    h4{
                        color: white;
                        font-weight: 400;
                    }
                }
                .jumbo_right{
                    width: 15%;
    
                    .button{
                        position: relative;
                        padding: 15px 25px;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        outline: none;
                        font-size: 18px;
                        margin: 1em 0.8em;
    
                        &.type3{
                            color: white;
                        }
                        
                        &.type3::after,
                        &.type3::before{
                            content: '';
                            display: block;
                            position: absolute;
                            width: 20%;
                            height: 20%;
                            border: 2px solid;
                            transition: all 0.6s ease;
                            border-radius: 2px;
                        }
                    
                        &.type3::after{
                            bottom: 0;
                            right: 0;
                            border-top-color: transparent;
                            border-left-color: transparent;
                            border-bottom-color: white;
                            border-right-color: white;
                        }
                    
                        &.type3::before{
                            top: 0;
                            left: 0;
                            border-bottom-color: transparent;
                            border-right-color: transparent;
                            border-top-color: white;
                            border-left-color: white;
                        }
                    
                        &.type3:hover:after,
                        &.type3:hover:before{
                            border-bottom-color: white;
                            border-right-color: white;
                            border-top-color: white;
                            border-left-color: white;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}


/* MAIN */
#main_site{
    color: rgb(83, 83, 219);

    #about_me{
        border-bottom: 1px solid rgb(83, 83, 219);
        padding: 20px 0 50px 0;
        
        h1{
            font-size: 55px;
            text-align: center;
            padding: 50px 0;
        }
        .container{
            max-width: 1170px;
            margin: auto;
            display: flex;
            align-items: center;
    
            .about_left{
                width: 60%;
    
                p{
                    font-size: 19px;
                    line-height: 35px;
                    font-weight: 400;
                }
            }
            .about_right{
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
    
                i{
                    font-size: 50px;
                    padding: 25px;
                }
            }
        }
    }

    #projects{
        padding: 30px 0 50px 0;
    
        h1{
            font-size: 55px;
            text-align: center;
            padding: 50px 0;
        }
        .container{
            max-width: 1170px;
            margin: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
    
            .card{
                width: 350px;
                padding: 8px;
                margin: 25px;
                background-color: rgb(83, 83, 219);
                border-radius: 10px;
                text-align: center;
                box-shadow: rgba(192, 45, 138, 0.4) -5px 5px, rgba(177, 52, 131, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
                z-index: 1;

                &:hover{
                    transform: scale(1.01);
                }
    
                img{
                    border-radius: 5px;
                    height: 200px;
                    width: 330px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                }
                .card_desc{
                    display: flex;
                    padding: 10px;
    
                    h5{
                        font-weight: 500;
                        color: white;
                        margin: 5px 20px 0 30px;
                    }
                    .cta{
                        position: relative;
                        margin: auto;
                        padding: 1px 10px;
                        transition: all .2s ease;
        
                        &:before{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: block;
                            border-radius: 28px;
                            background: rgba(rgb(212, 147, 147),.5);
                            width: 56px;
                            height: 25px;
                            transition: all .3s ease;
                        }
                        span{
                            position: relative;
                            font-size: 16px;
                            line-height: 18px;
                            font-weight: 900;
                            letter-spacing: .25em;
                            text-transform: uppercase;
                            vertical-align: middle;
                        }
                        svg{
                            position: relative;
                            top: 0;
                            margin-left: 5px;
                            padding-top: 2px;
                            fill: none;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            stroke: rgb(255, 255, 255);
                            stroke-width: 2;
                            transform: translateX(-5px);
                            transition: all .3s ease;
                        }
                        &:hover{
                            &:before{
                                width: 100%;
                                background: rgba(235, 143, 201, 0.4);
                            }
                            svg{
                                transform: translateX(0);
                            }
                        }
                        &:active{
                            transform: scale(.96);
                        }
                    }
                }
                .button{
                    padding: 5px 10px;
                    background-color: white;
                    color: black;
                    border-radius: 3px;
                    border: 2px solid black;
                    font-size: 15px;
                }
            }
        }
    }

    #otherProjects{
        border-top: 1px solid rgb(83, 83, 219);
        margin-top: 70px;
        padding-top: 30px;
    
        h1{
            font-size: 55px;
            text-align: center;
            padding: 30px 0;
        }
        .container{
            max-width: 1170px;
            margin: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
    
            .card{
                width: 350px;
                height: 260px;
                padding: 8px;
                margin: 25px;
                background-color: rgb(83, 83, 219);
                border-radius: 10px;
                text-align: center;
                box-shadow: rgba(1, 160, 62, 0.4) -5px 5px, rgba(9, 143, 76, 0.3) -10px 10px, rgba(15, 165, 132, 0.2) -15px 15px, rgba(12, 119, 60, 0.1) -20px 20px, rgba(13, 126, 82, 0.05) -25px 25px;
    
                img{
                    border-radius: 5px;
                    height: 200px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                }
                h5{
                    font-weight: 500;
                    color: white;
                    margin: 15px 0 20px 0;
                }
                .button{
                    padding: 5px 10px;
                    background-color: white;
                    color: black;
                    border-radius: 3px;
                    border: 2px solid black;
                    font-size: 15px;
                }
    
            }
        }
    }   
}


/* FOOTER */
#footer_site{
    height: 100vh;
    background-color: rgb(83, 83, 219);

    .contacts{
        padding: 30px 0;
        color: white;
        text-align: center;
    
        h1{
            font-size: 55px;
            padding: 50px 0;
            margin-bottom: 50px;
        }
        .container{
            max-width: 1170px;
            margin: auto;
            display: flex;
    
            .contact_left{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                img{
                    height: 240px;
                    width: 240px;
                    border-radius: 50%;
                    margin-bottom: 30px;
                }
    
                a{
                    text-decoration: none;
    
                    i{
                        font-size: 32px;
                        padding: 10px;
                        color: white;
                        transition: 0.3s;
    
                        &:hover{
                            transform: scale(1.3);
                        }
                    }
                }
    
            }
            .contact_right{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                img{
                    cursor: pointer;
                    border-radius: 3px;
                    width: 220px;
                    height: 320px;
                }
                span{
                    color: white;
                    cursor: pointer;
                    border-bottom: 1px solid white;
                    padding: 2px 5px;
                    margin-top: 10px;
                    font-size: 15px;
                }
            }
        }
        h6{
            margin: 70px 0 20px 0;
            font-size: 16px;
            font-weight: 500;
    
            a{
                color: rgb(0, 202, 50);
                font-size: 16px;
            }
        }
    }
}