@media screen and (max-width:767.5px){
    #footer_site{
        .contacts{
            padding: 30px 0;
        
            h1{
                font-size: 11vw;
                padding: 50px 0;
                margin-bottom: 50px;
            }
            .container{
                .contact_left{
                    margin-bottom: 50px;
                    img{
                        height: 200px;
                        width: 200px;
                        border-radius: 50%;
                        margin-bottom: 30px;
                    }
                    a{
                        text-decoration: none;
        
                        i{
                            font-size: 32px;
                            padding: 10px;
                            color: white;
                            transition: 0.3s;
        
                            &:hover{
                                transform: scale(1.3);
                            }
                        }
                    }
                }
                .contact_right{
                    img{
                        border-radius: 3px;
                        width: 200px;
                        height: 280px;
                    }
                    span{
                        border-bottom: 1px solid white;
                        padding: 2px 5px;
                        margin-top: 10px;
                        font-size: 15px;
                    }
                }
            }
            h6{
                margin: 70px 0 20px 0;
                font-size: 16px;
                font-weight: 500;
        
                a{
                    color: rgb(0, 202, 50);
                    font-size: 16px;
                }
            }
        }
    }
}


@media screen and (min-width:768px) 
and (max-width: 991px){
    #footer_site{
        height: 100vh;

        .contacts{
            padding: 30px 0;
        
            h1{
                font-size: 55px;
                padding: 50px 0;
                margin-bottom: 50px;
            }
            .container{
                .contact_left{
                    img{
                        height: 240px;
                        width: 240px;
                        border-radius: 50%;
                        margin-bottom: 30px;
                    }
                    a{
                        text-decoration: none;        

                        i{
                            font-size: 32px;
                            padding: 10px;
                            color: white;
                            transition: 0.3s;
        
                            &:hover{
                                transform: scale(1.3);
                            }
                        }
                    }
                }
                .contact_right{
                    img{
                        border-radius: 3px;
                        width: 220px;
                        height: 320px;
                    }
                    span{
                        border-bottom: 1px solid white;
                        padding: 2px 5px;
                        margin-top: 10px;
                        font-size: 15px;
                    }
                }
            }
            h6{
                margin: 70px 0 20px 0;
                font-size: 16px;
                font-weight: 500;
        
                a{
                    color: rgb(0, 202, 50);
                    font-size: 16px;
                }
            }
        }
    }
}


@media screen and (min-width:992px){
    #footer_site{
        height: 100vh;
        
        .contacts{
            padding: 30px 0;
        
            h1{
                font-size: 55px;
                padding: 50px 0;
                margin-bottom: 50px;
            }
            .container{
                .contact_left{
                    
                    img{
                        height: 240px;
                        width: 240px;
                        border-radius: 50%;
                        margin-bottom: 30px;
                    }
                    a{
                        text-decoration: none;
        
                        i{
                            font-size: 32px;
                            padding: 10px;
                            color: white;
                            transition: 0.3s;
        
                            &:hover{
                                transform: scale(1.3);
                            }
                        }
                    }
                }
                .contact_right{
                    img{
                        border-radius: 3px;
                        width: 220px;
                        height: 320px;
                    }
                    span{
                        border-bottom: 1px solid white;
                        padding: 2px 5px;
                        margin-top: 10px;
                        font-size: 15px;
                    }
                }
            }
            h6{
                margin: 70px 0 20px 0;
                font-size: 16px;
                font-weight: 500;
        
                a{
                    color: rgb(0, 202, 50);
                    font-size: 16px;
                }
            }
        }
    }
}