@media screen and (max-width:767.5px){
    #main_site{
        #projects{
        
            h1{
                font-size: 11vw;
                padding: 50px 0;
            }
            .container{
                .card{
                    padding: 8px;
        
                    img{
                        height: 150px;
                        width: 280px;
                    }
                    .card_desc{
                        h5{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width:768px) 
and (max-width: 991px){
    #main_site{
        #projects{
        
            h1{
                font-size: 55px;
                padding: 50px 0;
            }
            .container{
                .card{
                    width: 350px;
                    padding: 8px;
        
                    img{
                        height: 200px;
                        width: 330px; 
                    }
                }
            }
        }
    }
}


@media screen and (min-width:992px){
    #main_site{
        #projects{
        
            h1{
                font-size: 55px;
                padding: 50px 0;
            }
            .container{
                .card{
                    width: 350px;
                    padding: 8px;
        
                    img{
                        height: 200px;
                        width: 330px;
                    }
                }
            }
        }
    }
}